.main {
    position: absolute;
    background-color: aquamarine;
    height: 100%;
    width: 100%;
    margin: 0;
 
}

/* #hintBox {
    position: relative;
    float: left;
    border: solid blue 5px;
    background-color: yellow;
} */

#gameBox{
    position: relative;
    float: left;
    border: solid blue 5px;
    background-color: pink;
}


#activeGuesses {
    
    width: 100%;
    border: solid red 5px;

}

#wtp {
    height: 300px;
    width: 300px;
    object-fit: contain;
}

